#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "homebox"
name = "HomeBox"
description.en = "Inventory and organization system built for the Home User"
description.fr = "Système d'inventaire et d'organisation conçu pour l'utilisateur à domicile"

version = "0.21.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0"
website = "https://homebox.software/en/"
demo = "https://demo.homebox.software/home"
admindoc = "https://homebox.software/en/"
code = "https://github.com/sysadminsmedia/homebox"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "85M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    amd64.url = "https://github.com/sysadminsmedia/homebox/releases/download/v0.21.0/homebox_Linux_x86_64.tar.gz"
    amd64.sha256 = "84bc710fb45c1ce8e122fc11ca4ba0b4d4f1d2c6ad125b703c87980890b681bd"
    arm64.url = "https://github.com/sysadminsmedia/homebox/releases/download/v0.21.0/homebox_Linux_arm64.tar.gz"
    arm64.sha256 = "01e00bc15892f533870afee54770c59efde6df8e7463ab5d6ad70660a4f19823"
    armhf.url = "https://github.com/sysadminsmedia/homebox/releases/download/v0.21.0/homebox_Linux_armv6.tar.gz"
    armhf.sha256 = "9c03d968af5047beceb1e47014b023dc3f249de30b5a9342b1f0d755d22348bd"
    i386.url = "https://github.com/sysadminsmedia/homebox/releases/download/v0.21.0/homebox_Linux_i386.tar.gz"
    i386.sha256 = "b40e92a6afe1a7015d165b0ce81313b892657c7e9a85de4875fc5cf8dac5ef7c"

    in_subdir = false
    rename = "homebox"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*Linux_x86_64.tar.gz$"
    autoupdate.asset.arm64 = ".*Linux_arm64.tar.gz$"
    autoupdate.asset.armhf = ".*Linux_armv6.tar.gz$"
    autoupdate.asset.i386 = ".*Linux_i386.tar.gz$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
